/*
 *  記事の一覧とページ送り
 */
// 記事一覧
li.post-item {
	margin: 0 0 5px;
	padding: 0 0 5px;
	border-bottom: 1px solid $border-base-color;

	@include mq() {
		margin: 0;
		padding: 0 10px 5px;
	}

	// 記事一覧のサムネ
	.post-cover {
		width: 160px;
		margin: 5px 10px 0 0;
		float: left;

		@include mq() {
			width: 90px;
			margin: 10px 10px 0 0;
		}

		img {
			height: auto;
		}
	}

	.post-preview {
		padding: 5px 0;
		line-height: 1.80em;
		overflow: hidden;
	}

	// 記事一覧のカテゴリー
	ul.post-categories li a {
		color: $text-sub-color;
		font-size: 90%;

		@include mq() {
			font-size: 80%;
		}
	}

	// 記事一覧の記事タイトル
	.title-post {
		margin: 5px 0;
		font-size: 150%;

		@include mq() {
			margin: 0 0 5px;
			font-size: 110%;
		}
	}

	// 記事一覧の記事要旨
	p.post-excerpt {
		color: $text-sub-color;
		font-size: 90%;

		@include mq() {
			display: none;
		}
	}

	// 投稿時刻など
	p.post-meta {
		font-size: 90%;
		color: $text-sub-color;

		@include mq() {
			font-size: 80%;
		}
	}
}

// 前後の記事の案内
h2.screen-reader-text {
	display: none;
}

.nav-links {
	margin: 30px 0 20px;

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	a {
		color: $white-color;
	}

	.nav-previous,
	.nav-next {
		width: 320px;
		background-color: $main-color;
		font-size: 120%;
		text-align: center;
		display: inline-block;

		@include mq(){
			width: auto;
			margin: 10px 0;
			float: none;
			display: block;
		}

		a {
			width: 100%;
			height: 100%;
			padding: 10px;
			display: block;
		}
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}