/*
 *  雑多なもの（アイコンなど）
 */

// SNSボタンの描画領域
#sns-btn-list {
	height: $sns-icon-height + 20px;
	padding: 10px;
	background: $gray-light-color;
	border-radius: $border-radius;

	@include mq(){
		margin: 0 $sp-postbody-side-margin;
		display: flex;
		justify-content: space-between;
	}

	// フッターのアイコンは設定が異なる
	footer & {
		height: $sns-icon-height;
    margin: 5px;
		padding: 0;
		background: none;
		border-radius: 0;

		@include mq(){
			margin: 0 $sp-postbody-side-margin;
			display: block;
		}
	}
}

// SNSボタン
.sns-btn-bg {
	width: $sns-icon-width + 20px;
	height: $sns-icon-height;
	margin: 0 2px;
	padding: 0 10px;
	background: $white-color;
	border-radius: $border-radius;
	display: inline-block;

	// フッターのアイコンは設定が異なる
	footer & {
		width: $sns-icon-width;
		height: $sns-icon-height;
		margin: 0 5px;
		padding: 0;
		background: none;
		border-radius: 0;
	}
}

.sns-btn {
	width: $sns-icon-width;
	height: $sns-icon-height;
	background: url("../img/splite-sns.svg") no-repeat;
	display: inline-block;

	&.sns-btn-twitter  {background-position:    0   0;}
	&.sns-btn-facebook {background-position:  -30px 0;}
	&.sns-btn-hatena   {background-position:  -60px 0;}
	&.sns-btn-line     {background-position:  -90px 0;}
	&.sns-btn-pocket   {background-position: -120px 0;}

	&:hover {
		/*アニメーション*/
		animation: poyopoyo 0.4s ease-out;
		transform-origin: 50% 50%;
		animation-play-state:running;

		@keyframes poyopoyo {
			0%   { transform: scale(1.0, 1.0); }
			30%  { transform: scale(0.8, 0.8); }
			60%  { transform: scale(1.2, 1.2); }
			100% { transform: scale(1.0, 1.0); }
		}
	}

	footer & {
		&.sns-btn-twitter  {background-position:    0   -30px;}
		&.sns-btn-facebook {background-position:  -30px -30px;}
		&.sns-btn-hatena   {background-position:  -60px -30px;}
		&.sns-btn-line     {background-position:  -90px -30px;}
		&.sns-btn-pocket   {background-position: -120px -30px;}

		&:hover {
			&.sns-btn-twitter  {background-position:    0   0;}
			&.sns-btn-facebook {background-position:  -30px 0;}
			&.sns-btn-hatena   {background-position:  -60px 0;}
			&.sns-btn-line     {background-position:  -90px 0;}
			&.sns-btn-pocket   {background-position: -120px 0;}
		}
	}
}

.affiliate-box {
	padding: 30px;
	background-color: $white-color;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
    align-items: center;


	@include mq() {
		margin: 10px;
		display: block;
	}

	.thum {
		width: 178px;
		height: 250px;

		@include mq() {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.text {
		margin-left: 30px;
		font-size: 13px;
		line-height: 1;

		@include mq() {
			margin-top: 25px;
			margin-left: 0;
		}

		.copy {
			margin-bottom: 10px;
			text-align: center;
		}

		.title {
			font-size: 22px;
			font-weight: bold;
			line-height: 1.2;
		}

		.publisher {
			margin-top: 15px;
		}

		.size {
			margin-top: 10px;
		}

		.debut {
			margin-top: 15px;
			color: $accent-red;
			font-size: 150%;
			font-weight: bold;
		}

		.link-box {
			margin-top: 25px;

			@include mq() {
				margin-top: 20px;
			}

			.link-button {
				margin-left: 5px;
				padding: 6px 10px;
				font-weight: bold;
				line-height: 1.6;
				text-decoration: none !important;
				border-radius: 5px;
				display: inline-block;
				transition: opacity .2s linear;

				&:first-child {
					margin-left: 0;
				}

				&.amazon {
					color: $white-color;
					background-color: #f90;

					&:hover {
						opacity: 0.6;
					}
				}

				&.rakuten {
					color: $white-color;
					background-color: #bf0000;

					&:hover {
						opacity: 0.6;
					}
				}
			}
		}
	}
}
