/*
 *  雑多なもの（アイコンなど）
 */

// SNSボタンの描画領域
#sns-btn-list {
	height: $sns-icon-height + 20px;
	padding: 10px;
	background: $gray-light-color;
	border-radius: $border-radius;

	@include mq(){
		margin: 0 $sp-postbody-side-margin;
		display: flex;
		justify-content: space-between;
	}
}

// SNSボタン
.sns-btn-bg {
	width: $sns-icon-width + 20px;
	height: $sns-icon-height;
	margin: 0 2px;
	padding: 0 10px;
	background: $white-color;
	border-radius: $border-radius;
	display: inline-block;
}

.sns-btn {
	width: $sns-icon-width;
	height: $sns-icon-height;
	background: url($splite-url) no-repeat;
	display: inline-block;

	&:hover {
		/*アニメーション*/
		animation: poyopoyo 0.4s ease-out;
		transform-origin: 50% 50%;
		animation-play-state:running;

		@keyframes poyopoyo {
			0%   { transform: scale(1.0, 1.0); }
			30%  { transform: scale(0.8, 0.8); }
			60%  { transform: scale(1.2, 1.2); }
			100% { transform: scale(1.0, 1.0); }
		}
	}

	&.sns-btn-twitter  {background-position:    0px -20px;}
	&.sns-btn-facebook {background-position:  -30px -20px;}
	&.sns-btn-hatena   {background-position:  -90px -20px;}
	&.sns-btn-line     {background-position: -120px -20px;}
	&.sns-btn-pocket   {background-position: -150px -20px;}
}
