/*
 * トップで使用するデザイン
 */

// おすすめ記事（1段目）
li.post-pickup-main {
	margin: 0 0 10px;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;

	// サムネのラッパー
	.post-cover {
		width: 320px;
		margin: 0 15px 0 0;
		float: left;
	}

	// 記事情報のラッパー
	.post-preview {
		line-height: 1.80em;
		overflow: hidden;
	}

	// カテゴリー
	ul.post-categories {
		margin: 10px 0 0 0;
	}

	// 記事タイトル
	h2.title-post {
		margin: 30px 0 15px 0;
		font-size: 180%;
	}

	// 記事要旨
	p.post-excerpt {
		color: $text-sub-color;
	}

	// 投稿時刻など
	p.post-meta {
		font-size: 90%;
		color: $text-sub-color;
	}
}

@media (max-width: 640px) {
	 li.post-pickup-main {
		.post-cover {
			width: 100%;
			display: block;
			float: none;

			img {
				width: 100%;
				height: auto;
			}
		}

		.post-preview {
			padding: 0 10px;
		}

		// おすすめ記事の記事タイトル
		h2.title-post {
			margin: 10px 0;
		}
	}
}


// おすすめ記事のサブ（2段目）
li.post-pickup-sub {
	width: 200px;
	margin: 10px;
	float: left;

	// サムネのラッパー
	.post-cover {
		width: 100%;
		height: 160px;

		img {
			height: auto;
		}
	}

	// 記事情報のラッパー
	.post-preview {
		line-height: 1.80em;
		overflow: hidden;
	}

	// おすすめ記事の記事タイトル
	h2.title-post {
		margin: 0 0 10px 0;
		font-size: 120%;
	}

	// おすすめ記事の記事要旨
	p.post-excerpt {
		color: $text-sub-color;
		font-size: 90%;
	}

	// おすすめ記事の投稿時刻など
	p.post-meta {
		font-size: 80%;
		color: $text-sub-color;
	}
}

@media (max-width: 640px) {
	li.post-pickup-sub {
		width: auto;
		margin: 0 0 5px 0;
		padding: 0 5px;
		border-bottom: 1px solid #ddd;
		float: none;

		.post-cover {
			width: 140px;
			height: auto;
			margin: 0 10px 0 0;
			float: left;

			img {
				width: 100%;
				height: auto;
			}
		}

		// おすすめ記事の記事タイトル
		h2.title-post {
			margin: 5px 0;
			font-size: 120%;
		}

		// おすすめ記事の記事要旨
		p.post-excerpt {
			font-size: 80%;
		}
	}
}

// 「最新記事」みたいな見出し
#latest-posts-header {
	margin: 0 0 5px;
	padding: 5px 10px;
	font-size: 110%;
	font-weight: bold;
	color: $white-color;
	background: $main-color;
}
