/*
 * トップで使用するデザイン
 */

#pickup-posts {
	margin: -80px -10px 0;
	padding: 0 10px;
	//background: $white-color;
	border-radius: $border-radius $border-radius 0 0;

	@include mq() {
		display: none;
	}
}

// おすすめ記事のサブ（2段目）
.post-pickup-sub-list {
	display:	flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.post-puckup-sub-wrapper {
	width: calc(50% - 10px);
	margin: 0 0 20px;

	&.second-line {
		width: calc(33.3% - 10px);
	}
}
.post-pickup-sub {
	height: 100%;
	padding: 10px;
	border: 1px solid $border-toppage-article;
	border-radius: $border-radius;
	position: relative;
	background: $white-color;
	display: block;
	transition: all $hover-action-time ease-in-out;

	&:hover {
		box-shadow: 1px 1px 10px  rgba(0,0,0,0.15);
	}

	// サムネのラッパー
	.post-cover {
		width: 100%;
    padding-top: 56.23%;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			border-radius: $border-radius $border-radius 0 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// 記事情報のラッパー
	.post-preview {
		line-height: 1.5;
		overflow: hidden;
	}

	// おすすめ記事の記事タイトル
	h2.title-post {
    margin-bottom: 18px;
		padding: 10px 0 ;
		font-size: 120%;
		line-height: 1.5;

		&.second-line {
			font-size: 100%;
			line-height: 1.2;
		}
	}

	// おすすめ記事の投稿時刻など
	p.post-meta {
		font-size: 80%;
    line-height: 1;
		color: $text-sub-color;
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
}

// 「最新記事」みたいな見出し
#latest-posts-header {
	margin: 0 0 5px;
	padding: 10px 0;
	font-size: 150%;
	font-weight: bold;
	color: $text-base-color;
	text-align: center;

	@include mq() {
    display: none;
	}
}
