/*
 * トップで使用するデザイン
 */

#pickup-posts {
	margin: -100px -10px 0;
	padding: 0 10px;
	//background: $white-color;
	border-radius: $border-radius $border-radius 0 0;

	@include mq() {
		display: none;
	}
}
/*
// おすすめ記事（1段目）
.post-pickup-main {
	margin: -100px 0 10px;
	padding: 10px;
	background: $white-color;
	border-radius: $border-radius;
	position: relative;

	// サムネのラッパー
	.post-cover {
		width: 320px;
		margin: 0 15px 0 0;
		float: left;

		@include mq() {
			width: 100%;
			display: block;
			float: none;
		}
	}

	// 記事情報のラッパー
	.post-preview {
		overflow: hidden;
	}

	// 記事タイトル
	h2.title-post {
    height: 130px;
		font-size: 180%;
    line-height: 1.5;
    vertical-align: middle;
		display: table-cell;

		@include mq() {
			margin: 10px 0 40px;
			height: auto;
			font-size: 120%;
			display: block;
		}
	}

	// カテゴリー
	ul.post-categories {
		line-height: 1;
    position: absolute;
    bottom: 30px;
	}

	// 投稿時刻など
	p.post-meta {
		font-size: 90%;
		color: $text-sub-color;
		line-height: 1;
		position: absolute;
		bottom: 10px;
	}
}
*/
// おすすめ記事のサブ（2段目）
.post-pickup-sub-list {
	display:	flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.post-puckup-sub-wrapper {
	width: calc(50% - 10px);
	margin: 0 0 20px;

	&.second-line {
		width: calc(33.3% - 10px);
	}
}
.post-pickup-sub {
	height: 100%;
	padding: 10px;
	border-radius: $border-radius;
	position: relative;
	background: $white-color;
	display: block;
	transition: all .1s ease-in-out;

	&:hover {
		box-shadow: 1px 1px 10px  rgba(0,0,0,0.15);
	}

	// サムネのラッパー
	.post-cover {
		width: 100%;
    padding-top: 56.23%;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			border-radius: $border-radius $border-radius 0 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// 記事情報のラッパー
	.post-preview {
		line-height: 1.5;
		overflow: hidden;
	}

	// おすすめ記事の記事タイトル
	h2.title-post {
    margin-bottom: 18px;
		padding: 10px 0 ;
		font-size: 120%;
		line-height: 1.5;

		&.second-line {
			font-size: 100%;
			line-height: 1.2;
		}
	}

	// おすすめ記事の投稿時刻など
	p.post-meta {
		font-size: 80%;
    line-height: 1;
		color: $text-sub-color;
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
}

// 「最新記事」みたいな見出し
#latest-posts-header {
	margin: 0 0 5px;
	padding: 5px 10px;
	font-size: 110%;
	font-weight: bold;
	color: $white-color;
	background: $main-color;
}
