@charset "UTF-8";

#popup-box{
    width: 420px;
    right: 10px;
    margin: 10px;
    padding: 10px;
    background: $white-color;
    bottom: -200px;
    position: fixed;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

    @include mq() {
        width: auto;
    }

    #popup-wrapper {
        padding: 10px;
        border-radius: 5px 5px 0 0;

        .title{
            font-size: 120%;
            font-weight: bold;
            color: $popup-color;
        }

        .description{
            margin: 5px 0 0;
            color: $text-base-color;
        }
    }

    #popup-open {
        margin: 0 10px;
        padding: 10px 50px;
        text-align: center;
        background: $popup-color;
        color: $white-color;
        font-weight: bold;
        border-radius: 5px;
        float: left;
        transition: background-color ease-in-out .2s;

        @include mqn() {
            width: 160px;
            padding-left: 0;
            padding-right: 0;
        }

        &:hover {
            background: lighten($popup-color, 10%);
        }
    }

    #popup-close {
        padding: 10px 20px;
        text-align: center;
        border-radius: 5px;
        float: left;
        transition: background-color ease-in-out .2s;

        @include mqn() {
            width: 80px;
            padding-left: 0;
            padding-right: 0;
        }

        &:hover {
            background: darken($white-color, 10%);
        }
    }
}
