@charset "UTF-8";

#popup-box{
    width: 420px;
    right: 10px;
    margin: 10px;
    bottom: -200px;
    position: fixed;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

    @include mq() {
        width: auto;
    }

    #popup-wrapper {
        padding: 10px;
        background: $white-color;
        border-width: 3px 3px 0;
        border-style: solid;
        border-color:  $popup-color;
        border-radius: 5px 5px 0 0;
    
        .title{
            font-size: 120%;
            font-weight: bold;
            color: $popup-color;
        }
    
        .description{
            margin: 5px 0 0;
            color: $text-base-color;
        }
    }

    #popup-open {
        width: 50%;
        padding: 10px 0;
        text-align: center;
        background: $popup-color;
        color: $white-color;
        font-weight: bold;
        border-radius: 0 0 0 5px;
        float: left;
    
        &:hover {
            background: #ffcccc;
        }
    }

    #popup-close {
        width: 50%;
        padding: 10px 0;
        text-align: center;
        background: #888888;
        color: $white-color;
        font-weight: bold;
        border-radius: 0 0 5px 0;
        float: left;
    
        &:hover {
            background: #bbbbbb;
        }
    }
}
