@charset "UTF-8";

#popup-box{
    margin: 10px;
    bottom: -200px;
    position: fixed;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

    @include mq() {
        width: 420px;
        right: 10px;
    }

    // ボタンの色
    $button-color: #ff8888;

    #wrapper {
        padding: 10px;
        background: #ffffff;
        border-top:   3px solid $button-color;
        border-right: 3px solid $button-color;
        border-left:  3px solid $button-color;
        border-radius: 5px 5px 0 0;
    
        #title{
            font-size: 120%;
            font-weight: bold;
            color: $button-color;
        }
    
        #description{
            margin: 5px 0 0 0;
            color: #333333;
        }
    }

    table {
        width: 100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border-width: 0px;
    }

    td{
        width: 50%;
        margin: 0;
        padding: 0;
        border-width: 0px;
    }

    #open {
        padding: 10px 0;
        text-align: center;
        background: $button-color;
        color: #ffffff;
        font-weight: bold;
        border-radius: 0 0 0 5px;
    
        &:hover {
            background: #ffcccc;
        }
    }

    #close {
        padding: 10px 0;
        text-align: center;
        background: #888888;
        color: #ffffff;
        font-weight: bold;
        border-radius: 0 0 5px 0;
    
        &:hover {
            background: #bbbbbb;
        }
    }
}
