/*
 * 記事上部
 */
// 記事のサムネイル
#post-thumbnail {
	width: 160px;
	margin: 0 20px 0 0;
	float: left;

	@include mq() {
		display: none;
	}

	img {
		height: auto;
	}
}

// 記事タイトルなど
#post-header {
	margin: 0 0 10px;
	overflow: hidden;

	@include mq() {
		margin: 10px;
	}

	p.category {
		a {
			color: $text-sub-color;
		}
	}

	h1.title {
		margin: 5px 0 10px;
		font-size: 180%;
		line-height: 1.5em;
	}

	p.excerpt {
		margin: 10px 0 0;
		color: $text-sub-color;
	}

	.posted-on {
		margin: 10px 0 0;
		color: $text-sub-color;
		font-size: 90%;
	}
}

// 所属カテゴリ詳細
.category-detail {
	margin: 0 0 10px;
	padding: 5px 10px;
	border: 5px solid #6cf;
	clear: both;

	.icon {
		padding: 4px 8px;
		color: $white-color;
		font-weight: bold;
		font-size: 90%;
		background: #6cf;
		border-radius: 5px;
	}

	.title {
		margin: 5px 0;
		padding: 0 0 2px;
		border-bottom: 5px solid #eee;
		font-weight: bold;
		color: $text-base-color;
		font-size: 120%;
	}

	.description {
		color: $text-base-color;
		font-size: 90%;
		line-height: 1.8em;
	}

	.link {
		text-align: right;
		font-size: 90%;

		a {
			@extend %colored-link-text;
		}
	}
}

// アーカイブタイトルなど
#archive-header {
    margin: 0 0 10px;
    padding: 20px;
    overflow: hidden;
    background: #00A5DE;
	color: #fff;

	h1.title {
		margin: 0 0 10px;
		padding: 0 0 5px;
		font-size: 200%;
		line-height: 1.2em;
		border-bottom: 3px solid #fff;
	}
	p.excerpt {
		margin: 10px 0 0;
		color: #fff;
	}
}

// サイト内検索ページの検索窓コンテナ
#article-search-area {
	max-width: 480px;
	margin: 15px;

	@include mq() {
		width: 90%;
		margin: 25px 15px 5px;
	}
}
