/*
 *  ページ下部
 */
// ページ番号
.page-links {
	height: 40px;
	margin: 20px 0;
	position: relative;
	text-align: center;
	clear: both;

	// 記事本文内の次のページ・前のページの矢印
	.page-link-arrow {
		width: 125px;
		height: 40px;
		background: $main-color;
		color: $white-color;
		font-size: 100%;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		position: absolute;

		@include mq() {
			width: 80px;
		}

		&.next {
			right: 20px;

			+ div {
				position: absolute;
				right: 0;
				border-left: 20px solid $main-color;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
			}
		}

		&.prev {
			left: 20px;

			+ div {
				position: absolute;
				left: 0;
				border-right: 20px solid $main-color;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
			}
		}
	}

	// ページ番号
	.page-number {
		margin: 0 3px;
		padding: 8px;
		border: 1px solid $main-color;
		background: $main-color;
		color: $white-color;
		font-size: 120%;
	}

	// 特にページ番号がリンクで囲まれているもの（現在のページでない）
	a .page-number {
		color: $main-color;
		background: $white-color;

		&:hover {
			background: #ff8;
		}
	}
}

// 記事下部のGoogle広告
.ad-article-footer {
	text-align: center;

	.ad-f-item {
		margin: 0 10px;
		display: inline-block !important;

		@include mq() {
			margin: 5px auto;
			display: block;
		}

		&.ad-f-item2 {
			@include mq() {
				display: none !important;
			}
		}
	}
}

// 関連記事
#relative-article {
	padding: 15px;
	background: $gray-light-color;

	@include mq(){
		margin: 0 0 10px;
		padding: 10px;
	}

	#relative-article-header {
		font-size: 180%;
		font-weight: bold;
		text-align: center;
		border-bottom: 2px solid $border-base-color;

		// 関連記事のアイコン
		.relative-icon {
			width: 25px;
			height: 25px;
			margin: 0 5px -3px 0;
			background: url("#{$base-url}/img/icon-copy-solid.svg") no-repeat;
			display: inline-block;
		}
	}

	#relative-article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}

	a.relative-article-item {
		width: 317px;
    margin: 15px 0 0;
		background: $white-color;
		position: relative;
		display: block;

		@include mq(){
			width: auto;
			margin: 10px 0 0;
		}

		&:hover {
			transform: translate(-2px -2px);
			box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
			transition: all .2s ease-in-out;
		}

		.thumbnail {
			width: 90px;
			height: 90px;
			margin: 0 10px 0 0;
			position: relative;
			overflow: hidden;
			float: left;
			display: table-cell;

			img {
				max-width: none;
				height: 90px;
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}

		.info {
			display: table;
			overflow: hidden;

			.title {
				height: 90px;
				padding: 0 10px 0 0;
				display: table-cell;
				vertical-align: middle;
				font-size: 100%;
				font-weight: bold;
				color: $text-base-color;

				@include mq(){
					height: 75px;
				}
			}
		}

		.date {
			font-size: 80%;
			line-height: 1;
			color: $text-sub-color;
			position: absolute;
			left: 100px;
			bottom: 8px;
			display: none;

			@include mq(){
				display: block;
			}
		}
	}
}

a#same-category {
	width: 360px;
	margin: 10px auto 0;
	padding: 10px;
	color: $white-color;
	font-weight: bold;
	text-align: center;
	background: $main-color;
	border-radius: 5px;
	display: block;
	transition: all .2s ease-in-out;

	@include mq(){
		width: 100%;
	}

	&:hover {
		background: lighten($main-color, 10%);
		box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
	}
}
