/*
 * 記事上部
 */
// 記事のサムネイル
#post-thumbnail {
	width: 100%;
	height: auto;

	img {
		width: 100%;
	}
}

// 記事タイトルなど
#post-header {
	margin: 10px 0;
	overflow: hidden;

	@include mq() {
		margin-left: $sp-postbody-side-margin;
		margin-right: $sp-postbody-side-margin;
	}

	p.category {
		a {
			padding: 2px 10px;
			color: $white-color;
			font-weight: bold;
			background: $category-color;
			border-radius: 5px;
			display: inline-block;
			transition: all .2s ease-in-out;

			&:hover {
				background: lighten($main-color, 10%);
				box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
			}
		}
	}

	h1.title {
		margin: 10px 0;
		font-size: 180%;
		line-height: 1.5;
	}

	.posted-on {
		margin: 10px 0 0;
		color: $text-sub-color;
		font-size: 90%;

		.icon-updated {
			width: 13px;
			height: 13px;
			margin: 0 5px -1px 0;
			background: url("#{$base-url}/img/icon-redo-solid.svg") no-repeat;
			display: inline-block;
		}
	}
}

// アーカイブタイトルなど
#archive-header {
	min-width: 1100px;
	width: 100%;
	color: $white-color;
	text-align: center;
	background: $main-color;
	overflow: hidden;

	.category-saikoku33 & {
		background-image: url("#{$base-url}/img/topic-saigoku33.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include mq() {
			background-image: url("#{$base-url}/img/topic-saigoku33-sp.jpg");
		}
	}

	.category-blog & {
		background-image: url("#{$base-url}/img/topic-blog.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@include mq() {
		min-width: auto;
	}

	.wrapper-archive-header {
		padding: 60px;

		@include mq() {
			padding: 30px 20px;
		}
	}

	h1.title {
		margin: 0 0 10px;
		padding: 0 0 5px;
		font-size: 200%;
		line-height: 1.2em;
		border-bottom: 3px solid $white-color;
	}
	p.excerpt {
		margin: 10px 0 0;
		color: $white-color;
	}
}

// サイト内検索ページの検索窓コンテナ
#article-search-area {
	max-width: 480px;
	margin: 15px;

	@include mq() {
		width: 90%;
		margin: 25px 15px 5px;
	}
}
