/*
 *  記事本文のデザイン
 */
// 記事本文
#post-body {
	font-size: 16px;
	line-height: 2.0;
	text-align: justify;

	strong {
		font-weight: bold;
		background: linear-gradient(transparent 40%, #fff888 40%);
	}

	a {
		@extend %colored-link-text;

		&.button {
			color: $white-color;

			&:hover {
				text-decoration: none;
			}
		}
	}

	h3 {
		margin: 25px 0 15px;
		background: $main-color;
		padding: 10px 15px;
		color: $white-color;
		font-size: 150%;
		line-height: 1.5;

		@include mq() {
			margin-bottom: 20px;
		}
	}

	h4 {
		margin: 25px 0 15px;
    padding: 0 3px 5px;
		font-size: 140%;
		line-height: 1.5;
		position: relative;
		overflow: hidden;

		@include mq() {
			margin-left: $sp-postbody-side-margin;
			margin-right: $sp-postbody-side-margin;
		}

		&:before,
		&:after{
			content: "";
			width: 100%;
			border-bottom: 4px solid $border-sub-color;
			position: absolute;
			bottom: 0;
		}
		&:before{
			margin: 0 0 0 -3px;
			border-color: $main-color;
		}
		&:after{
			margin: 0 -3px 0 5px;
		}
	}

	h5 {
		font-size: 110%;
	}

	p {
		margin: 15px 0;

		@include mq() {
			margin-left: $sp-postbody-side-margin;
			margin-right: $sp-postbody-side-margin;
		}
	}

	ul {
		margin: 5px 10px 5px 30px;
		padding: 0;

		li {
			margin: 10px 0;
			list-style-type: disc;
			list-style-position: outside;
		}
	}

	ol {
		margin: 5px 0 5px 40px;
		padding: 0;

		li {
			margin: 10px 0;
			list-style-type: decimal;
			list-style-position: outside;
		}
	}

	img {
		max-width: 100%;
	}

	dt {
    padding-left: 10px;
    font-size: 110%;
		font-weight: bold;
    line-height: 1.5;
    border-left: 5px solid $main-color;
		display: inline-block;

		@include mq() {
			margin: 0 10px;
		}
	}

	dd {
    margin: 0 20px 25px;
	}

	table {
		min-width: 420px;
		margin: 10px auto;
		border: 2px solid $main-color;
		border-collapse: collapse;

		@include mq() {
			min-width: auto;
			max-width: calc(100% - 20px);
			font-size: 12px;
			table-layout: fixed;
			word-break: break-all;
		}

		th, td {
			padding: 6px 15px;
		}

		th {
			color: $white-color;
			font-weight: bold;
			background: $main-color;
			border: 1px solid $white-color;
		}

		td {
			border: 1px solid $main-color;
		}

		tr:nth-child(even) {
			background: #f8f8f8;
		}
	}

	blockquote {
    margin: 5px 0;
    padding: 25px 25px 10px;
		background: url("#{$base-url}/img/quotation.svg") no-repeat, $gray-light-color;
    background-size: 30px;
    background-position: 15px 15px;
    border-radius: 5px;
		font-size: 90%;
		font-family: inherit;
		font-style: normal;

		@include mq() {
			margin-left: $sp-postbody-side-margin;
			margin-right: $sp-postbody-side-margin;
			padding: 10px;
		}
	}

	.point-box {
		margin: 10px 0;
		padding: 15px;
		background: $gray-light-color;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.point-box-caption {
		margin: -15px -15px 15px;
		padding: 2px 10px;
		background: $main-color;
		color: $white-color;
		font-weight: bold;
	}

	.catch-copy {
    margin-top: 20px;
		color: $main-color;
		font-size: 130%;
		text-align: center;
		text-decoration: none;

		@include mq() {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.wrapper-left {
		width: 300px;
		float: left;

		@include mq() {
			width: auto;
			float: none;
		}
	}

	.wrapper-right {
		margin-left: 340px;

		@include mq() {
			margin-left: 0;
		}
	}

	// mathjax
	.MathJax_Display {
		max-width: 100% !important;
		margin: 0;
		padding: 5px 0;
		overflow: hidden;

		@include mq() {
			overflow: scroll;
		}
	}
}

/*
 *  目次
 */
#toc-box {
	width: 360px;
	margin: 0 0 10px;
	padding: 10px;
	background: $gray-light-color;
	border-radius: $border-radius;

	@include mq() {
    width: auto;
    margin: 10px;
	}

	p {
		margin: 0;
	}
}

// 目次の箱
#toc-box-caption {
	margin: 0 0 10px 0;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid $border-base-color;

	.toc-icon {
		width: 20px;
		height: 20px;
    margin: 0 5px -3px 0;
    background: url("#{$base-url}/img/icon-book-solid.svg") no-repeat;
		display: inline-block;
	}
	.description {
		font-size: 60%;
	}
}

// 目次本体
#toc {
	font-size: 90%;

	ul {
		margin: 0 0 0 20px;
	}

	li {
		margin: 5px 0;
		list-style-type: disc;

		&.toc-h3 {
			margin: 0;
		}

		&.toc-h4 {
			margin: 0 0 0 20px;

			a {
				color: $text-base-color;
			}
		}

	}
}

// セリフ
.testimony {
	margin: 15px;
	overflow: hidden;

	.testimony_icon {
		display: table-cell;
		vertical-align: top;
		width: 60px;

		@include mq() {
			width: 50px;
		}

		img {
			width: 100%;
			border: 1px solid $border-base-color;
			border-radius: 30px;

			@include mq() {
				border-radius: 25px;
			}
		}
	}
	.testimony_text {
		display: table-cell;
		padding-left: 20px;
		text-align: justify;
	}
	.testimony_content {
		border: 1px solid $border-base-color;
		border-radius: 5px;
		padding: 10px 15px;
		background: $white-color;
		position: relative;
		z-index: 3;

		&:before {
			content: "";
			position: absolute;
			top: 24px;
			left: -9px;
			margin-top: -9px;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 9px 9px 0;
			border-color: transparent $white-color transparent transparent;
			z-index: 0;
		}

		&:after {
			content: "";
			position: absolute;
			top: 24px;
			left: -10px;
			margin-top: -10px;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 10px 0;
			border-color: transparent $border-base-color transparent transparent;
			z-index: -1;
		}

		.name {
			font-weight: bold;
		}

		p {
			margin: 0 !important;
		}
	}
}
