
/*
 * サイドバー
 */
aside#site-aside {
	width: 340px;
	float: right;
	margin: 0 -10px -10px;
	padding: 10px;
	background: $white-color;
	border-radius: 5px;

	&.front-page {
		margin-top: -80px;
	}

	@include mq() {
		width: 100%;
		margin: 0;
		padding: 0;


		&.front-page {
			margin-top: 0;
		}
  }

	.title {
		padding: 5px 10px;
		font-size: 110%;
		font-weight: bold;
		color: $white-color;
		background: $main-color;

		// 人気記事一覧のアイコン
		.rank-icon {
			width: 25px;
			height: 25px;
			margin: 0 5px -8px 0;
			background: url("../img/icon-crown-solid.svg") no-repeat;
			display: inline-block;
		}

		// カテゴリ一覧のアイコン
		.category-icon {
			width: 25px;
			height: 25px;
			margin: 0 5px -8px 0;
			background: url("../img/icon-folder-open-solid.svg") no-repeat;
			display: inline-block;
		}
	}

	// プロフィール
	.profile {
    padding-bottom: 10px;
    background: $white-color;

		@include mq() {
			margin: 0;
			padding: 10px;
		}

		.icon {
			width: 70px;
			height: 70px;
			margin: 0 auto;
			float: left;

			img {
				border-radius: 35px;
			}
		}

		.name {
			margin: 5px 0 0 80px;
			font-size: 150%;
			font-weight: bold;
		}

		.bio {
			margin: 5px 0 10px 80px;
			padding: 5px 0 0;
			font-size: 90%;
			text-align: justify;
			border-top: 1px solid $border-base-color;
		}

		.contact {
			width: 200px;
			height: 20px;
			margin: 5px 0 10px 80px;
			background: url("../img/splite-contact.svg") no-repeat;
			display: block;
			transition: opacity $hover-action-time ease-in-out;

			&:hover {
				opacity: 0.5;
			}

			&.twitter {
				background-position: 0 0;
			}

			&.instagram {
				background-position: 0 -20px;
			}

			&.mail {
				background-position: 0 -40px;
			}
		}
	}
}

// 人気記事一覧
#popular {
	margin: 0 0 10px;
	padding: 10px;
	background: $main-light-color;
}

a.view-popular {
	height: 70px;
	margin: 10px 0 0;
	padding: 5px;
	background: $white-color;
	display: block;
	transition: transform $hover-action-time ease-in-out, box-shadow $hover-action-time ease-in-out;

	&:hover {
		transform: translate(-2px -2px);
		box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
	}

	&:first-child {
		margin: 0;
	}

	.view-popular-thum {
		width: 60px;
		height: 60px;
		margin: 0 5px 0 0;
		position: relative;
		overflow: hidden;
		float: left;

		img {
			max-width: none;
			height: 60px;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
		}
	}

	.view-popular-title {
		height: 60px;
		font-weight: bold;
    vertical-align: middle;
    display: table-cell;
		overflow: hidden;
	}
}

// カテゴリー
ul#category-list {
	padding: 10px;

	li {
    font-weight: bold;
		line-height: 2.5;
	}

	a {
		transition: color $hover-action-time ease-in-out;

		&:hover {
			color: $main-color;
		}
	}
}

// カテゴリーアイコン（header.phpのスマホメニューでも使用）
.category-icon {
	width: 25px;
	height: 25px;
	margin: 0 10px -8px 0;
	background: url("../img/splite-category.svg") no-repeat;
	display: inline-block;

	// 線形代数のアイコン
	&.study-icon {
		background-position: 0 0;
	}
	// 豆知識のアイコン
	&.heart-icon {
		background-position: -25px 0;
	}
	// 西国巡礼のアイコン
	&.hike-icon {
		background-position: -50px 0;
	}
	// web開発のアイコン
	&.code-icon {
		background-position: -75px 0;
	}
	// おぐえもん日記のアイコン
	&.dialy-icon {
		background-position: -100px 0;
	}
}

// サイドバーのGoogle広告
.ad-s-item {
	margin: 30px auto 10px;
	display: block !important;
}
